<?xml version="1.0"?>
<!-- SPDX-License-Identifier: Apache-2.0 OR GPL-2.0-or-later -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="EJOsterberg_OpenSalesTax" setup_version="0.1.0">
        <sequence>
            <module name="Magento_Tax"/>
            <module name="Magento_Quote"/>
            <module name="Magento_Config"/>
        </sequence>
    </module>
</config>
